@media (min-width: 1100px) {

.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#title{
    width: 50%;
}
a{
    text-decoration: none;
}
#play{
    background-color: #340570;
    width: 100%;
    height: 8%;
    font-family: 'Cormorant Garamond';
    font-size: 36pt;
    color: white;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#play:hover{
    background-color: rgb(52, 48, 176);
}

#rules{
    background-color: #CC1578;
    width: 100%;
    height: 8%;
    font-family: 'Cormorant Garamond';
    font-size: 36pt;
    color: white;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#rules:hover{
    background-color: #82104d;
}

body{
    background-image: url("src/background.jpg");
}

.stub{
    display: none;
}
}

@media (max-width: 1100px) {
    .block{
        display: none;
    }
    
    .stub{
        display: flex;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat";
    }
    }